/* Fonts */
.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.raleway-small {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: small;
  font-style: normal;
}

/* Body */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFFFF2;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  font-weight: 300;
  font-style: large;
  color: #648837;
}

a:hover {
  color: #9A1B0F;
}

h1 {
  font-family: "Poetsen One";
}

h2 {
  font-family: "Poetsen One";
}

p, h3, h4, h5, h6, a {
  font-family: "Raleway";
}

.center {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: auto;
  padding: 0.5em 1em;
}

.inline {
  display: inline-flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.inline p {
  margin-left: 4em;
}

/* navbar */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em 0 0;
  font-family: "Raleway";
  font-weight: 200;
  background-color: #291B16;
  color: #FFFFF2;
}

.navlist {
  display: flex;
  align-items: end;
}

nav a {
  color: #FFFFF2;
  padding: 0 1em;
}

/* banner */
.hero-image-lg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),url('../assets/img/coppagabana_banner.webp');
  height: 17em;
}

.hero-text-lg {
  display: flex;
  flex-direction: column;
  padding: 3em 20em 0 3em;
}

.hero-image-sm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),url('../assets/img/coppagabana_banner.webp');
  height: 9em;
}

.hero-text-sm {
  padding: 2em 20em 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: end; */
}

/* footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  font-family: "Raleway";
  font-weight: 200;
  background-color: #291B16;
  color: #FFFFF2;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding: 0 1em;
  font-family: "Raleway";
  font-weight: 200;
  background-color: #291B16;
  color: #FFFFF2;
  margin-top: auto;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon {
  padding: 0 .5em;
}

/* Colors */
.bg-primary-1 {
  background-color: #9A1B0F;
}

.bg-primary-2 {
  background-color: #648837;
}

.bg-secondary-1 {
  background-color: #ffe0b1;
}

.bg-secondary-2 {
  background-color: #FFF0CB;
}

.bg-white {
  background-color: #FFFFF2;
}

.bg-black {
  background-color: #291B16;
}

/* text colors */
.primary-1 {
  color: #9A1B0F;
}

.primary-2 {
  color: #648837;
}

.white {
  color: #FFFFF2;
}

.black {
  color: #291B16;
}

/* typo */
#typography-group {
  display: flex;
  flex-direction: column;
  min-width: 30em;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em; 
}

.grid-item {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto; 
}

/* Buttons */
.primary-button {
  background-color: #9A1B0F;
  color: #FFFFF2;
}

.secondary-button {
  background-color: #ffe0b1;
  color: #291B16;
  font-weight: 600;
}

.success {
  background-color: #afff84;
}

.danger {
  background-color: #F52413;
  color: #FFFFF2;
}

.warning {
  background-color: #F5C413;
}

.info {
  background-color: #b9eef5;
}

/* general */
button {
  padding: 1em 1.5em;
  font-family: "Raleway";
  height: 4em;
  border-radius: 1em;
  font-weight: 600;
  cursor: pointer;
  border: none;
  box-shadow: 1px 2px 0 0 #291B16;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 #291B16;
}

button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 #291B16;
}

.lg {
  font-size: large;
}

.sm {
  font-size: x-small;
}

/* outline buttons */

.outline {
  color: #291B16;
  background-color: #FFFFF2;
  border: 1px solid #291B16;
}

.outline-primary {
  border-color: #9A1B0F;
  box-shadow: 1px 2px 0 0 #9A1B0F;
}

.outline-primary:hover {
  box-shadow: 2px 5px 0 0 #9A1B0F;
}

.outline-primary:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 #9A1B0F;
}

.outline-secondary {
  border-color: #ffe0b1;
  box-shadow: 1px 2px 0 0 #ffe0b1;
}

.outline-secondary:hover {
  box-shadow: 2px 5px 0 0 #ffe0b1;
}

.outline-secondary:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 #ffe0b1;
}

.outline-success {
  border-color: #afff84;
  box-shadow: 1px 2px 0 0 #afff84;
}

.outline-success:hover {
  box-shadow: 2px 5px 0 0 #afff84;
}

.outline-success:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 #ffe0b1;
}

.outline-danger {
  border-color: #F52413;
  box-shadow: 1px 2px 0 0 #F52413;
}

.outline-danger:hover {
  box-shadow: 2px 5px 0 0 #F52413;
}

.outline-danger:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 #F52413;
}

.outline-warning {
  border-color: #F5C413;
  box-shadow: 1px 2px 0 0 #F5C413;
}

.outline-warning:hover {
  box-shadow: 2px 5px 0 0 #F5C413;
}

.outline-warning:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 #F5C413;
}

.outline-info {
  border-color: #b9eef5;
  box-shadow: 1px 2px 0 0 #b9eef5;
}

.outline-info:hover {
  box-shadow: 2px 5px 0 0 #b9eef5;
}

.outline-info:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 #b9eef5;
}

/* Forms */
#outer-form {
  border: #291B16;
  border-style: solid;
  border-width: 1px;
  border-radius: .5em;
  border-top-right-radius: 3em;
  box-shadow: 2px 5px 0 0 #291B16;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
}

.form-group {
  margin-bottom: 1.5em;
}

.form-group i {
  padding-right: 1em;
}

.form-questions {
  display: flex;
  justify-content: space-between;
}

.form-buttons {
  display: flex;
  justify-content: space-evenly;
}

.form-buttons button {
  width: 11em;
  margin: 0 1em;
}

.input-text {
  min-width: 20em;
  padding: 0.5em;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1em;
  border: 1px solid #291B16;
  border-radius: 0.5em;
}

.input-text:focus {
  outline: none;
  border-color: #9A1B0F;
}

label {
  font-family: "Poetsen One", sans-serif;
  color: #6E331D;
  margin-bottom: 0.5em;
}

button[type="submit"] {
  margin-top: 1em;
}

/* Iconography */
#icon-group {
  display: flex;
  justify-content: space-evenly;
}

#icon-group i {
  margin: 1em 1.5em;
}

/* Lists */
.list-group {
  display: flex;
  flex-direction: column;
  background-color: #FFF0CB;
  border: #291B16;
  border-style: solid;
  border-width: 1px;
  border-radius: .5em;
  border-top-right-radius: 3em;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 2px 0 0 #291B16;

}

.list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0em 2em;
}

.list-group-item p {
  margin: 1em 2em;
  max-width: 30em;
}

.list-group:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 #291B16;
}

.list-group:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 #291B16;
}


/* Cards */
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: space-evenly;
  padding: 0 5em;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: .5em;
  border-top-right-radius: 3em;
  min-width: 20em;
  margin: 1em;
  overflow: hidden;
}

.card h3 {
  padding: 1em;
}

.card p {
  max-width: 15em;
  padding: 1em;
}

.card img {
  object-fit: cover;
  width: 20em;
  max-height: calc(100% - 40px);
}

.card footer, .color-card footer {
  padding: 0.6em 1em;
  background-color: #648837;
  color: #FFFFF2;
  font-family: "Raleway", sans-serif;
}

.card button {
  width: 30%;
  margin: 1em 60%;
}

/* color cards */
.color-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: .5em;
  border-top-right-radius: 3em;
  max-height: 15em;
  min-height: 10em;
  min-width: 10em;
  margin: 1em;
  overflow: hidden;
}

.color-card footer {
  padding: 0.6em 0em;
  background-color: #291B16;
  color: #FFFFF2;
}

/* menu */
#menu a button{
  width: 20em;
  margin: 1em 0;
}


/* product */
#product {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 2em 1em;
}

#product-image {
}

#product-text {
  width: 20em;
  padding-left: 2em;
}

#description {
  width: 80%;

}